body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
}

h1 {
    font-size: 30px;
}

.tomato-highlight {
    color: tomato;
}
section {
    height: 500px;
    padding-bottom: 150px;
}
#header{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: left; */
    padding-top: 100px;


}

.half-width {
    width: 30%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}


.half-width img {
    width: 100%;
}
section#biography-area{
    background-image: url("images/biography-bg.png");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

}
#latest-work-area{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    text-align: center;
    padding-top: 100px;

}

footer{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: left;
   background-size: cover;
   text-align: center;
   padding-bottom: 30px;
}

#saying{
    margin-top: 100px;
    margin-bottom: 100px;
}
#name{
    font-size: 14px;
}
#company{
    font-size: 12px;
}

.action-button {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    background-image: linear-gradient(45deg, lightSalmon, red);
}


p {
    color: dimgray;
    size: 8px;
}

div#work-images {
    height: 400px;
    display: inline-flex;
}

.latest-work-image img{
    height: 200px;
    padding-top: 30px;
    margin: 20px;
    box-shadow: 1px 1px 1px 1px gray;

}

div a{
    text-decoration: none;
}
#message{
    margin-left: 25%;
    margin-right: 25%;

}
#message div {
    padding-top: 10px;
    width: 500px;
    height: 100px;
    background-color: tomato;
    border-radius: 5px;
    margin-bottom: 10px;
}
#message div p{
    color: white !important;
}
#message div a{
    color: white !important;
}
#copyright{
    font-size: 10px;
}